{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <form method="POST" class="w-50 bg-light p-4 rounded shadow" action="{% url 'register' %}">
        {% csrf_token %}
    <div class="mb-3 row">
        <h1 class="text-center text-success">Register</h1>
        </div>
      <div class="mb-3 row">
        <label for="username" class="col-4 col-form-label">Username:</label>
        <div class="col-8">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" />
        </div>
      </div>

      <div class="mb-3 row">
        <label for="password" class="col-4 col-form-label">Password:</label>
        <div class="col-8">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <button type="submit" class="btn btn-primary">Action</button>
        </div>
      </div>

    </form>
  </div>



{% endblock %}